.btn-red {
  float: right;
  width: 100px;
  background-color: red;
  color: white;
  border-radius: 0%;
}
.brands_products {
  margin-top: 35px;
}
.brands_products h2 {
  color: rgb(235, 83, 83);
}
.left-sidebar h2 {
  color: rgb(235, 83, 83);
}
.features_items h2 {
  color: rgb(235, 83, 83);
}
#doitac {
  border: solid 1px #ddd;
  text-align: center;
  margin-bottom: 50px;
}

#doitac .item {
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}
#doitac .img-doitac {
  max-width: 175px;
  max-height: 150px;
  padding-bottom: 15px;
}
#doitac .list {
  padding: 20px 30px;
  display: block !important;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
}
#doitac .owl-item {
  margin-left: 0px !important;
  padding-bottom: 10px;
}
h4.doitac {
  color: rgb(235, 83, 83);
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: bold;
}

.frame-img img {
  object-fit: cover;
}
.companyinfo img {
  max-width: 280px;
  height: 125px;
}
.box {
  float: right;
  padding: 50px;
  box-shadow: 10px;
}
.menu .sub-menu {
  float: left;
}
.taikhoan {
  left: 262px;
  position: absolute;
  bottom: 2px;
  }
